bin-debug

bin-debug/ALightTest.swf

bin-debug/Context3D_Stencil.swf

bin-debug/Context3D_drawToBitmapData.swf

bin-debug/HelloTriangle.swf

bin-debug/LightTest.swf

bin-debug/Stage3DGuide.swf

bin-debug/TextureTest.swf

.actionScriptProperties

*.swf
